.aider*
MitochondrialPapers.pkl
AutomatedSearch/.DS_Store
AutomatedSearch/jsons/.DS_Store
AutomatedSearch/.DS_Store
Literature_Review/.DS_Store
.DS_Store
.DS_Store
AutomatedSearch/.DS_Store
Literature_Review/.DS_Store
.DS_Store
